:host {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
  overflow: hidden;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.sidebar-collapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

.sidebar-collapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

.sidebar-collapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

.sidebar-collapse span:nth-of-type(2) {
  opacity: 0;
}

.sidebar-collapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

.sidebar-collapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .sidebar-collapse span:first-of-type,
  .sidebar-collapse span:nth-of-type(2),
  .sidebar-collapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  .sidebar-collapse.active span {
    margin: 0 auto;
  }

  .sidebar-collapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }

  .sidebar-collapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  .sidebar-collapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}
