<app-nav [ngClass]="{ active: sideBarOpened }"></app-nav>

<div class="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <button
        type="button"
        class="navbar-btn sidebar-collapse"
        [ngClass]="{ active: sideBarOpened }"
        (click)="toggleSideBar()"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
