<div class="sidebar-header">
  <h3>My App</h3>
</div>

<ul class="list-unstyled components">
  <li>
    <a routerLink="/dashboard" routerLinkActive="link-active">Dashboard</a>
  </li>
  <li>
    <a routerLink="/posts" routerLinkActive="link-active">Posts</a>
  </li>
  <li>
    <a routerLink="/albums" routerLinkActive="link-active">Albums</a>
  </li>
  <li>
    <a routerLink="/photos" routerLinkActive="link-active">Photos</a>
  </li>
</ul>
