a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

:host {
  min-width: 250px;
  max-width: 250px;
  background: #7386d5;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;

  &.active {
    margin-left: -250px;
    transform: rotateY(100deg);
  }
}

.sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;

  & a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }

  & a:hover {
    color: #7386d5;
    background: #fff;
  }

  & a.link-active {
    color: #fff;
    background: #6d7fcc;
  }
}

@media (max-width: 768px) {
  :host {
    margin-left: -250px;
    transform: rotateY(90deg);

    &.active {
      margin-left: 0;
      transform: none;
    }
  }
}
