<ng-container *ngIf="album$ | async as album">
  <h1 class="mb-3">{{ album.title }}</h1>
  <p class="mb-3">
    by
    <a [routerLink]="'/users/' + album.userId" class="text-decoration-none"
      >User {{ album.userId }}</a
    >
  </p>
  <div class="mb-3 row">
    <div class="col-xs-3 col-sm-auto mb-2 mb-md-0">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        name="post-search-term"
        [(ngModel)]="pageService.searchTerm"
      />
    </div>
    <span class="col col-form-label" *ngIf="pageService.loading$ | async"
      >Loading...</span
    >
  </div>
</ng-container>

<ng-container *ngIf="albumPhotos$ | async as photos">
  <div class="row g-2 g-lg-3" *ngIf="photos?.length; else noPhotos">
    <div
      [routerLink]="'/photos/' + photo.id"
      class="card photo-card border-light mb-3 col-6 col-md-2"
      *ngFor="
        let photo of photos
          | paginate
            : {
                itemsPerPage: pageService.pageSize,
                currentPage: pageService.page
              }
      "
    >
      <div class="thumbnail-placeholder placeholder">
        <img
          [src]="photo.thumbnailUrl"
          class="card-img"
          [alt]="photo.title"
          loading="lazy"
        />
      </div>
      <div class="card-body">
        <p class="card-title">{{ photo.title }}</p>
      </div>
    </div>
  </div>

  <ng-template #noPhotos>
    <p *ngIf="(pageService.loading$ | async) === false">
      <td colspan="4">No photos found, check filter options</td>
    </p>
  </ng-template>

  <pagination-controls
    *ngIf="photos?.length"
    (pageChange)="pageService.page = $event"
  ></pagination-controls>
</ng-container>
