<app-main-layout>
  <app-nav></app-nav>
  <main>
    <router-outlet></router-outlet>
    <ng-container *ngIf="loadingRouteConfig">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
  </main>
</app-main-layout>
