<ng-container *ngIf="user$ | async as user">
  <h1 class="mb-3">{{ user.name }}</h1>

  <p>
    {{ user.username }} - {{ user.email }} - {{ user.website }} -
    {{ user.address?.city }}
  </p>

  <div class="row">
    <div class="col-12 col-md-6 mb-3" *ngIf="userAlbums$ | async as albums">
      <div class="card user-info-card">
        <div class="card-header">Albums</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li *ngFor="let album of albums" class="list-group-item">
              <a
                [routerLink]="'/albums/' + album.id"
                class="text-decoration-none"
                >{{ album.title }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-3" *ngIf="userPosts$ | async as posts">
      <div class="card user-info-card">
        <div class="card-header">Posts</div>
        <div class="card-body">
          <div class="list-group list-group-flush">
            <div *ngFor="let post of posts" class="list-group-item">
              <p>
                <a
                  [routerLink]="'/posts/' + post.id"
                  class="text-decoration-none"
                  >{{ post.title }}</a
                >
              </p>
              <p class="text-truncate post-body">{{ post.body }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
