<p class="color-grey mb-1">Welcome to</p>
<h1 class="mb-4">My App</h1>

<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <div class="card user-info-card">
      <div class="card-header">Statistics</div>
      <div class="card-body">
        <h4 class="p-3" *ngIf="posts$ | async as posts">
          <span class="text-success display-4">{{ posts.length }} </span
          ><small class="text-muted">Posts</small>
        </h4>
        <h4 class="p-3" *ngIf="albums$ | async as albums">
          <span class="text-success display-4">{{ albums.length }} </span
          ><small class="text-muted">Albums</small>
        </h4>
        <h4 class="p-3" *ngIf="photos$ | async as photos">
          <span class="text-success display-4">{{ photos.length }} </span
          ><small class="text-muted">Photos</small>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div class="card user-info-card">
      <div class="card-header">Latest Posts</div>
      <div class="card-body">
        <div
          class="list-group list-group-flush"
          *ngIf="posts$ | async as posts"
        >
          <div *ngFor="let post of posts | slice: 0:30" class="list-group-item">
            <p>
              <a
                [routerLink]="'/posts/' + post.id"
                class="text-decoration-none"
                >{{ post.title }}</a
              >
            </p>
            <p class="text-truncate post-body">{{ post.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div class="card user-info-card">
      <div class="card-header">Recent Photos</div>
      <div class="card-body">
        <div class="row" *ngIf="photos$ | async as photos">
          <div class="col-4" *ngFor="let photo of photos | slice: 0:100">
            <div class="thumbnail-placeholder placeholder">
              <img
                [src]="photo.thumbnailUrl"
                class="card-img"
                [alt]="photo.title"
                loading="lazy"
              />
            </div>
            <p class="text-truncate">
              <a
                [routerLink]="'/photos/' + photo.id"
                class="text-decoration-none"
                >{{ photo.title }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
