<div *ngIf="photo$ | async as photo">
  <h1 class="mb-3">{{ photo.title }}</h1>
  <p class="mb-3">
    <a [routerLink]="'/albums/' + photo.albumId">View Album</a>
  </p>
  <div class="text-center">
    <img [src]="photo.url" class="mw-100" [alt]="photo.title" />
  </div>
</div>
