/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.thumbnail-placeholder {
  aspect-ratio: 1/1;
  border-radius: 6px;
  // width: 100%;

  & img {
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    z-index: 1;
  }
}
