<h1 class="mb-3">Albums</h1>
<div class="mb-3 row">
  <div class="col-xs-3 col-sm-auto mb-2 mb-md-0">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      name="post-search-term"
      [(ngModel)]="pageService.searchTerm"
    />
  </div>
  <div class="col-xs-3 col-sm-auto">
    <select
      class="form-select"
      required
      [(ngModel)]="pageService.searchColumn"
      name="search-column"
    >
      <option *ngFor="let column of columns" [value]="column.value">
        {{ column.title }}
      </option>
    </select>
  </div>
  <span class="col col-form-label" *ngIf="pageService.loading$ | async"
    >Loading...</span
  >
</div>

<ng-container *ngIf="albums$ | async as albums">
  <div class="row g-2 g-3 mb-3" *ngIf="albums?.length; else noAlbums">
    <div
      class="col-12 col-md-6 col-lg-3"
      *ngFor="
        let album of albums
          | paginate
            : {
                itemsPerPage: pageService.pageSize,
                currentPage: pageService.page
              }
      "
    >
      <div class="card h-100 album-card mb-3">
        <div class="card-header">
          <p class="card-title text-truncate">
            <a [routerLink]="[album.id]" class="text-decoration-none">{{
              album.title
            }}</a>
          </p>
        </div>
        <div class="card-body d-flex align-items-center">
          <div
            class="thumbnail-placeholder placeholder mx-2"
            *ngFor="let thumbnailUrl of album.thumbnailUrls"
          >
            <img [src]="thumbnailUrl" [alt]="album.title" loading="lazy" />
          </div>
        </div>
        <div class="card-footer">
          <p class="mb-0">
            By
            <a
              [routerLink]="'/users/' + album.userId"
              class="text-decoration-none"
              >User {{ album.userId }}</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noAlbums>
    <p *ngIf="(pageService.loading$ | async) === false">
      <td colspan="4">No albums found, check filter options</td>
    </p>
  </ng-template>

  <pagination-controls
    *ngIf="albums?.length"
    (pageChange)="pageService.page = $event"
  ></pagination-controls>
</ng-container>
