<h1 class="mb-3">Posts</h1>
<div class="mb-3 row">
  <div class="col-xs-3 col-sm-auto mb-2 mb-md-0">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      name="post-search-term"
      [(ngModel)]="pageService.searchTerm"
    />
  </div>
  <div class="col-xs-3 col-sm-auto">
    <select
      class="form-select"
      required
      [(ngModel)]="pageService.searchColumn"
      name="search-column"
    >
      <option *ngFor="let column of columns" [value]="column.value">
        {{ column.title }}
      </option>
    </select>
  </div>
  <span class="col col-form-label" *ngIf="pageService.loading$ | async"
    >Loading...</span
  >
</div>

<div class="table-responsive-md">
  <table class="table" aria-label="Posts table" *ngIf="posts$ | async as posts">
    <thead>
      <tr class="d-lg-flex">
        <th
          *ngFor="let column of columns"
          [appSortable]="column.value"
          (sort)="onSort($event)"
          [class]="'col-lg-' + column.size || 'auto'"
        >
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="posts.length; else noPosts">
        <tr
          class="d-lg-flex"
          *ngFor="
            let post of posts
              | paginate
                : {
                    itemsPerPage: pageService.pageSize,
                    currentPage: pageService.page
                  }
          "
        >
          <td class="col-lg-1">{{ post.id }}</td>
          <td class="col-lg-1">
            <a
              [routerLink]="'/users/' + post.userId"
              class="text-decoration-none"
              >User {{ post.userId }}</a
            >
          </td>
          <td class="col-lg-3">
            <a [routerLink]="[post.id]" class="text-decoration-none">{{
              post.title
            }}</a>
          </td>
          <td class="col-lg-7">{{ post.body }}</td>
        </tr>
      </ng-container>
      <ng-template #noPosts>
        <tr *ngIf="(pageService.loading$ | async) === false">
          <td colspan="4">No posts found, check filter options</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<pagination-controls
  (pageChange)="pageService.page = $event"
></pagination-controls>
